""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set ReplaceWithRegister
set relativenumber
set which-key
set number

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
set notimeout
set timeoutlen=5000
let g:WhichKey_ShowVimActions = "true"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>c <Action>(Stop)

map <leader>r <Action>(RenameElement)

map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>o <Action>(FileStructurePopup)

map <leader>k <action>(QuickJavaDoc)
map <leader>j <action>(QuickImplementations)

map <leader>hh <Action>(ShowHarpoon)
map <leader>ha <Action>(AddToHarpoon)
map <leader>h1 <Action>(GotoHarpoon1)
map <leader>h2 <Action>(GotoHarpoon2)
map <leader>h3 <Action>(GotoHarpoon3)
map <leader>h4 <Action>(GotoHarpoon4)
map <leader>h5 <Action>(GotoHarpoon5)
map <leader>H1 <action>(SetHarpoon1)
map <leader>H2 <action>(SetHarpoon2)
map <leader>H3 <action>(SetHarpoon3)
map <leader>H4 <action>(SetHarpoon4)
map <leader>H5 <action>(SetHarpoon5)

